img{
    width: 100px;
    height: 100px;
}
body {
    background: #c9cfc77a;
}
hr {
    margin-top: 1rem;
    margin-bottom: 1rem;
    border: 0;
    border-top: 1.5px solid rgb(0 0 0);
}
div.UpdateShowImg{
    text-align: center;
}
.notfundImgDiv {
    text-align: center;
}

.notfundImgDiv img {
    width: 300px;
    height: 300px;
}